body{
font-family: Arial;
background:#f4f4f4;
text-align:center;
}

.container{
background:white;
padding:20px;
width:300px;
margin:auto;
border-radius:10px;
box-shadow:0 0 10px gray;
}

input{
margin:5px;
padding:8px;
width:90%;
}

button{
margin:5px;
padding:8px;
width:45%;
border:none;
color:white;
cursor:pointer;
}

.income-btn{
background:green;
}

.expense-btn{
background:red;
}

li{
list-style:none;
margin:5px;
padding:5px;
border-bottom:1px solid #ddd;
}

.income{
color:green;
}

.expense{
color:red;
}